<div class="control_panel">
    <div class="expansion-button-panel">
        <button
            (click)="toggleInteractive()">
            {{interactive ? "hide control panel" : "expand control panel"}}
        </button>
    </div>

    <table *ngIf="interactive">
        <tr>
            <td>Iterations:</td>
            <td colspan=2>
                <input
                    type="number"
                    max=15
                    min=0
                    step=1
                    (change)="updateIterations($event.target)"
                    [value]="iterations">
            </td>
        </tr>

        <tr>
            <td>Pattern:</td>
            <td colspan=2>
                <input
                    id="patternString"
                    (change)="updatePattern($event.target)"
                    [value]="humanFacingPattern"
                    pattern="([0-9]*((,\s*)|(\s+)))*[0-9]*"
                    title="Enter whitespace/comma separated digits"
                    required>
            </td>
        </tr>

        <tr>
            <td>
                Zoom:
                <input
                    class="small_input"
                    type="number"
                    min=50
                    max=500
                    step=5
                    (change)="updateZoom($event.target)"
                    [value]="zoom">
            </td>

            <td>
                Pan X:
                <input
                    class="small_input"
                    type="number"
                    step=1
                    (change)="updatePanX($event.target)"
                    [value]="panX">
            </td>

            <td>
                Pan Y:
                <input
                    class="small_input"
                    type="number"
                    step=1
                    (change)="updatePanY($event.target)"
                    [value]="panY">
            </td>

            <td>
                Angle:
                <input
                    class="small_input"
                    type="number"
                    step=5
                    (change)="updateAngle($event.target)"
                    [value]="angle">
            </td>
        </tr>

        <tr>
            <td colspan="100%">
                Colors:
                <input
                    (change)="updateColor($event.target)"
                    [value]="humanFacingColors">
            </td>
        <tr>
            <td>
                <button (click)="exportToUrl()">Export</button>
            </td>
            <td colspan="100%">
                <p>Save current settings to URL</p>
            </td>
    </table>
</div>
