input:valid {
    padding: 7px;
}

input:invalid {
    padding: 7px;
    border: 2px solid red;
}

.small_input {
    width: 50px;
}

.expansion-button-panel {
    display: flex;
    justify-content: center;
}
