.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0px;

    app-display {
        height: 75%;
    }

    app-control-panel {
    }
}
