.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;

    app-display {
        height: 100%;
    }

    app-control-panel {
        transform: translateY(-100%);
        background-color: #eee;
    }
}
